

@include media-breakpoint-down(xl) {

}

@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
  .container {
    max-width: 680px;
  }
  #form {
    max-width: 680px;
  }

}

@include media-breakpoint-down(sm) {
  .container {
    max-width: 100%;
  }
}

@include media-breakpoint-down(xs) {
  #main .logo__container img {
    max-height: 100px;
  }
  h1 {
    font-size: 22px;
  }
  p {
    font-size: 16px;
  }
  .auth .go_to .btn {
    font-size: 16px;
  }
  .container {
    padding: 0 10px;
  }
  #form .form_call .form__header h2 {
    font-size: 18px;
  }
  #form .form_call.active {
    padding: 10px 15px 15px;
  }
}