@import 'config';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.btn {
  background: #007bff;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
  padding-bottom: 10px;
  font-weight: 700;
  &:after {
    width: 150px;
    height: 3px;
    display: block;
    margin: 0 auto;
    content: '';
    background: #007bff;
    position: relative;
    top: 5px;
  }
}

.no-scroll {
  overflow: hidden;
}

p {
  font-size: 18px;
  padding: 15px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
#main {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px + 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;

  &:after {
    content: '';
    background: rgba(0,0,0,0.45);
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    position: absolute;
    left: 0;
  }
  .container {
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .img__container {
    img {
      max-width: 100%;
    }
  }
  .logo__container {
    text-align: center;
    padding: 15px;
    img {
      max-width: 320px;
      max-height: 200px;
    }
  }
}

.auth {
  padding: 15px 0;
  border-top: 1px solid rgba(0,0,0,0.2);
  position: fixed;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  z-index: 4;
  bottom: 0;
  background: #333333;
  width: 100%;
  .container {
    position: relative;
  }
  .go_to {
    margin: 0 auto;
    .btn {
      text-transform: uppercase;
      width: 100%;
      max-width: 500px;
      font-size: 18px;
      cursor: pointer;
      margin: 0 auto;
      border-radius: 100px;
      text-align: center;
      display: block;
      box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
      &:hover {
        color: #333;
        background: #fff;
        transition: all .2s;
        text-decoration: none;
      }
    }
  }
  .rules {
    color: #6c757d;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    a {
      color: #007bff;
      text-decoration: underline;

    }
  }
}


#form {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  bottom: 0;
  .alert {
    text-align: center;
    background: #FF6766;
    padding: 15px;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 10px;
    border-bottom: #C82647 3px solid ;
  }


  .step-prev {
    display: block;
    text-align: right;
    a#step-prev {
      color: #007bff;
      cursor: pointer;
      font-size: 12px;
      text-align: right;
      text-decoration: underline;

    }
  }
  .form_call {
    width: 100%;
    border: 15px solid #eee;
    border-bottom: none;
    padding: 15px 30px 30px;
    height: auto;
    border-radius: 25px 25px 0 0;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    display: block;
    position: fixed;
    max-height: 80vh;
    overflow-y: auto;

    background: #fff;
    bottom: -100%;
    z-index: 999;
    transition: all .4s;
    &.active {
      bottom: 0;
      transition: all .4s;
    }

    .form__header {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      h2 {
        margin: 0;
        font-size: 24px;
      }


      .close_modal {
        color: #6c757d;
        cursor: pointer;
        transition: all .2s;
        &:hover {
          text-decoration: none;
          color: #007bff;
        }
      }
    }
    .separator {
      display: block;
      width: 100%;
      height: 1px;
      background: rgba(0,0,0,0.1);
      margin-bottom: 30px;
      margin-top: 5px;
    }


    .form__info {
      text-align: center;
      p {
        padding: 0;
        color: #333;
        font-size: 14px;

      }
      span#phone {
        color: #007bff;
      }
    }

    .orion_cop {
      padding-top: 30px;
      text-align: center;
      img {
        max-width: 150px;
      }
    }


    form {
      max-width: 320px;
      margin: 0 auto;
      .form__group {
        display: none;
        &.active {
          display: block;
        }
        .checkbox__group {
          padding-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: left;
          align-items: center;
          input {
            margin: 5px;
            max-width: 30px;
          }
          label {
            color: #6c757d;
            font-size: 12px;
          }
        }
        label {
          display: block;
          margin: 0 auto;
          span {
            display: block;
            font-size: 14px;
            padding-bottom: 2px;
            color: #6c757d;
          }
          input {

            display: block;
            max-width: 320px;
            width: 100%;
            outline: none;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 100px;
            padding: 5px 10px;
            text-align: center;
            font-size: 14px;
          }

        }
        .form__submit {
          display: block;
          margin-top: 10px;
          max-width: 320px;
          padding: 7px 10px;
          border-radius: 100px;
          background: #007bff;
          color: #fff;
          text-align: center;
          font-size: 14px;
        }
      }

    }


    .form__footer {
      background: #eee;
      padding: 15px;
      border-radius: 15px;
      margin-top: 15px;
      width: 100%;
      display: block;
       p {
        font-size: 14px;
         color: #6c757d;
         padding: 0;
         text-align: center;
         margin-bottom: 0;
       }
    }


  }
}

.overlay {
  width: 100%;
  overflow: hidden;
  display: block;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all .4s;
  &.active {
    z-index: 30;
    opacity: 1;
    transition: all .4s;
  }
}


//**Media**//
@import 'media';